.TextField-border-radius fieldset {
  border-radius: 20px;
}

.inputRounded .MuiOutlinedInput-root {
  border-radius: 15px;
}
.margin-right {
  margin-right: 10px;
}

.home-image {
  width: 55em;
  position: absolute;
  right: 15%;
  top: 12.5%;
}

.avatar-profile {
  width: 35px;
}

.mr-3 {
  margin-right: 8px;
}

.active {
  color: rgb(71, 1, 96) !important;
  background-color: rgb(247, 224, 255) !important;
  border-radius: 10px !important;
}

.css-og8c7q-MuiPaper-root-MuiAccordion-root:before {
  display: none !important;
}
.css-icaj6e-MuiPaper-root-MuiAccordion-root:before {
  display: none !important;
}

.css-19kzrtu {
  padding: 0 !important;
}

.css-mbhizm-MuiTabs-indicator {
  display: none;
}

.css-o4b71y-MuiAccordionSummary-content {
  justify-content: space-between;
}

.MuiPaper-root.MuiPaper-elevation.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  border-radius: 20px;
  top: 130px;
  left: 95px;
}
