.TextField-border-radius fieldset {
  border-radius: 20px;
}

.inputRounded .MuiOutlinedInput-root {
  border-radius: 15px;
}
.margin-right {
  margin-right: 10px;
}

.avatar-profile {
  width: 35px;
}

.mr-3 {
  margin-right: 8px;
}

.active {
  color: #028a93 !important;
  background-color: #008a9321 !important;
  border-radius: 10px !important;
}

.css-og8c7q-MuiPaper-root-MuiAccordion-root:before {
  display: none !important;
}
.css-icaj6e-MuiPaper-root-MuiAccordion-root:before {
  display: none !important;
}
.css-1o8lk5q-MuiPaper-root-MuiAccordion-root:before {
  display: none !important;
}

.css-19kzrtu {
  padding: 0 !important;
}

.css-mbhizm-MuiTabs-indicator {
  display: none;
}

.css-o4b71y-MuiAccordionSummary-content {
  justify-content: space-between;
}

.MuiMenu-root {
  border-radius: 290px;
}
.MuiMenu-paper {
  border-radius: 290px;
}

.home-image {
  width: 55em;
}

@media (max-width: 900px) {
  .home-image {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .css-142p52v-MuiTypography-root {
    display: block !important;
    width: 8%;
  }
}
.text-tranc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 3em;
}

.MuiAlert-root {
  border-radius: 55px !important;
  background-color: rgb(4, 1, 7) !important;
  color: white !important;
  display: flex;
  align-items: center;
}

mark {
  background-color: #a8876494;
  color: rgb(255, 255, 255);
  padding-inline-start: 0.4em;
  /* border-bottom-left-radius: 5px; */
  /* border-top-left-radius: 5px; */
  transition: all 1s ease;
}

.fade-in {
  animation: fade-in 0.9s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.flex-space-btn {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  border: solid;
}

.upper-caseDark {
  text-transform: uppercase;
  color: rgb(4, 1, 7) !important;
  font-size: 0.95em !important;
  font-weight: 700 !important;
}
.upper-case {
  text-transform: uppercase;
  color: rgb(255, 255, 255) !important;
  font-size: 0.95em !important;
  font-weight: 700 !important;
}
