@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: #f4f7fd;
}

code {
  font-family: "Nunito", sans-serif;
}
